<configuration>
    <system.webServer>

        <!-- indicates that the server.js file is a node.js application
        to be handled by the iisnode module -->

        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>

        <rewrite>
            <rules>
                <rule name="sendToNode">
                    <match url="/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
		
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
		  <dynamicTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="application/javascript" enabled="true"/>
			<add mimeType="application/json" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </dynamicTypes>
		  <staticTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="application/javascript" enabled="true"/>
			<add mimeType="application/atom+xml" enabled="true" />
			<add mimeType="application/xaml+xml" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </staticTypes>
		</httpCompression>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
        </staticContent>

        <urlCompression doStaticCompression="true" doDynamicCompression="true" />


    </system.webServer>
    <appSettings>
        <add key="NODE_ENV" value="production" />
    </appSettings>
</configuration>