extends layout

block content
  p
    | ООО МКК «МОМЕНТО ДЕНЬГИ» - федеральная микрокредитная компания с филиальной сетью, охватывающей уже 10 субъектов Российской Федерации. Мы занимаемся предоставлением быстрых потребительских займов физическим лицам с августа 2010 года - это главное направление нашей деятельности.
  p
    | Головной офис компании расположен в Астрахани. Штат организации насчитывает более 200 сотрудников. География компании: Астраханская, Волгоградская, Липецкая, Тамбовская, Воронежская, Ростовская и Саратовская области, республика Калмыкия, Ставропольский и Краснодарский край.
    | С 2015 года ООО МКК «МОМЕНТО ДЕНЬГИ» входит в состав отраслевого партнерства - СРО НП МиР - Саморегулируемая организация Некоммерческое партнерство «Микрофинансирование и Развитие». ООО МКК «МОМЕНТО ДЕНЬГИ» контролируется Центральным Банком РФ и подчиняется российскому законодательству - это гарантия надежности для наших клиентов.
  p
    | Второе направление деятельности ООО МКК «МОМЕНТО ДЕНЬГИ» - это инвестиционные займы. Клиенты доверяют нам деньги и получают их обратно с процентами. Доход от инвестиционного займа гораздо выше обычного банковского вклада - до 23% годовых. Достойный уровень вашей жизни - наша задача.
  p
    | Для работы компания использует современные инструменты: система электронного документооборота «Directum», информационная система «SaaSCredit», корпоративная социальная сеть «Пряники», программное обеспечение для колл-центра «Infinity X». Эффективный бизнес можно построить только на эффективных технологиях.
  p
    | Самая главная ценность «МОМЕНТО ДЕНЬГИ» - это люди. Мы тщательно подбираем команду профессионалов, которым наши клиенты смогут доверять. В нашей компании есть множество примеров карьерного роста сотрудников от простого специалиста до руководителя региона или подразделения - и это очень ценно.
  hr


