extends layout

block content
    p
        | Нормативные положения Федерального закона от 02.07.2010 № 151-ФЗ «О микрофинансовой деятельности и микрофинансовых организациях» (далее - закон № 151-ФЗ) направлены на формирование системы правового регулирования микрофинансовой деятельности, осуществляемой некоммерческими и коммерческими организациями в форме хозяйственных обществ, за исключением кредитных организаций и потребительских кооперативов, деятельность которых регулируется специальными законами, что создаёт равные условия для осуществления предпринимательской деятельности на отечественном финансовом рынке и формирует правовые условия для его дальнейшего развития.
    p
        | Микрофинансовая организация - это юридическое лицо, которое внесено в государственный реестр микрофинансовых организаций и осуществляет микрофинансовую деятельность.
    p
        | Микрофинансовая деятельность - это деятельность по выдаче микрозаймов. Под микрозаймом понимаются заёмные средства, которые предоставляются заимодавцем заёмщику в сумме, не превышающей 1000000 рублей.
    p
        | Осуществлять микрофинансовую деятельность могут не только юридические лица, которые имеют статус микрофинансовых организаций, но и кредитные организации, кредитные кооперативы, ломбарды, жилищные накопительные кооперативы и другие юридические лица. При этом они должны руководствоваться законодательством РФ, регулирующим деятельность таких юридических лиц.
    p
        | Необходимо отметить, что важным аспектом, отличающим микрофинансовые организации, деятельность которых подпадает под действие нового закона, от других организаций, оказывающих аналогичные услуги, является социальная направленность. Микрофинансовые организации дают возможность гражданам, в том числе безработным, получить заём на развитие собственного дела, приобретение оборудования, повышение квалификации работников, расширение спектра и повышение качества предоставляемых потребителям товаров и услуг.
    p
        | В соответствии с нормами ст. 5 Закона № 151-ФЗ юридическое лицо приобретает права и обязанности, предусмотренные для МКК, со дня приобретения статуса МКК. Если оно зарегистрировано в форме фонда, автономной некоммерческой организации, учреждения (но не бюджетного учреждения, некоммерческого партнерства, хозяйственного общества или товарищества), то приобретает статус микрофинансовой организации со дня внесения сведений о нём в государственный реестр микрофинансовых организаций и утрачивает статус микрофинансовой организации со дня исключения указанных сведений из этого реестра.
    p
        a(href='http://www.consultant.ru/document/cons_doc_LAW_102112/')
            | Федеральный закон «О микрофинансовой деятельности и микрофинансовых организациях»
    p
        a(href='http://www.consultant.ru/document/cons_doc_LAW_155986/') Федеральный закон «О потребительском кредите (займе)»
    p
        a(href='http://www.consultant.ru/popular/ooo/') Федеральный закон «Об обществах с ограниченной ответственностью»