doctype html
html
    head
        title Личный кабинет
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        //link(rel='stylesheet', href='/static/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/static/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/static/css/font-awesome.min.css')
        //link(rel='stylesheet', href='/static/css/AdminLTE.min.css')
        //link(rel='stylesheet', href='/static/css/skins/_all-skins.min.css')
        //script(src='/static/js/jquery.min.js')
        //script(src='/static/js/bootstrap.min.js')
        //script(src='/static/js/adminlte.min.js')

    body.skin-blue
        div#root
        script(src='/build/lk.bundle.js')