doctype html
html
    head
        title Панель управления
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

    body.skin-blue
        div#root
        script(src='/build/mdadmin.bundle.js')