extends layout

block content
  .content
    each news_item in news
      div.content-item
        h2
          a(href='/news/' + news_item.id)= news_item.header
        -var date = news_item.pub_date.toLocaleString('ru-RU');
        .pub-date= date
        a(href='/news/' + news_item.id)
        .fotorama
          each img in news_item.images
            img(src='/media/' + img.image_source)
        p!= `<p>${news_item.firstPar}<p/>`
        p.readmore
          a(href='/news/' + news_item.id) Подробнее...
      hr
    nav.pagination
      ul
        if (page > 1)
          li.prev
            a(href='/news?page='+(page-1)) &nbsp;&nbsp;
        if (page > 2)
          li
            a(href='/news?page=' + (+page-2))= page-2
        if (page > 1)
          li
            a(href='/news?page=' + (+page-1))= page-1
        li.current
          a(href='/news?page='+page)= page
        if (page < (countPages-1))
          li
            a(href='/news?page='+(+page+1))= page+1
        if (page < (countPages-2))
          li
            a(href='/news?page='+(+page+2))= page+2
        if (page < countPages)
          li.next
            a(href='/news?page='+(+page+1)) &nbsp;&nbsp;



